@charset "UTF-8";
main .contenido-contenedor, main .healthy-contenedor, main .contenidorecetas-contenedor {
  text-align: justify;
  justify-content: center; }

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos en común del proyecto*/
header {
  background-color: #d1a1a5; }
  header .navbar-brand {
    font-family: "Shadows Into Light", "cursive";
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #d1a1a5; }
  header .nav-link {
    font-weight: bold;
    background-color: #d1a1a5; }
  header .nav-link:hover {
    transform: scale(1.05); }

main h1 {
  height: 4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: #e5c1c4;
  text-shadow: 5px 5px 5px whitesmoke; }

main h3 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: bolder;
  padding-top: 0.3rem;
  font-family: "Shadows Into Light", "cursive"; }

main .newsyredes-contenedor {
  background-color: #e5c1c4;
  height: 21rem;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  padding: 0.5rem; }
  main .newsyredes-contenedor .newsletter-contenedor {
    background-color: #ebb6ba;
    filter: drop-shadow(5px 5px 5px black);
    width: 46rem;
    height: 15rem;
    margin-bottom: 0.5rem;
    margin-top: 2.2rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-color: black; }
  main .newsyredes-contenedor .newsletter-contenedor:hover {
    transform: scale(0.95); }
  main .newsyredes-contenedor .redsocial-contenedor {
    width: 15rem;
    height: 15rem;
    margin: 1.5rem 1rem 1.5rem 1rem;
    padding: 1.5rem; }
  main .newsyredes-contenedor .logos {
    margin: 0.4rem; }
  main .newsyredes-contenedor .logos:hover {
    transform: scale(0.9); }

footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  box-sizing: border-box;
  background-color: #d1a1a5;
  font-weight: bold; }

/*estilos del index*/
main .img-y-p-index {
  height: 30rem;
  margin: 1rem 3rem 2rem 3rem;
  display: flex;
  justify-content: center; }
  main .img-y-p-index .img-index {
    margin: 1rem;
    filter: drop-shadow(5px 5px 5px); }
  main .img-y-p-index .p-index {
    width: 19rem;
    height: 25rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
    margin-left: 1.4rem;
    text-align: center;
    font-family: "Shadows Into Light", "cursive";
    font-weight: bold;
    font-size: 1.8rem; }

main .subtitulo-index {
  font-family: "Shadows Into Light", "cursive";
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  background-color: #d1a1a5; }

main .sobremi-contenedor {
  margin: 1rem;
  background-color: #977174;
  height: 25rem;
  display: flex; }
  main .sobremi-contenedor .sobremi-parrafo {
    margin: 0.6rem;
    color: whitesmoke;
    padding-top: 1.5rem;
    display: grid;
    font-size: 1.3rem; }
  main .sobremi-contenedor .juli {
    font-family: "Shadows Into Light", "cursive";
    font-size: 1.8rem; }
  main .sobremi-contenedor .juli::after {
    content: " ♡"; }
  main .sobremi-contenedor .juli::before {
    content: "♡ "; }

/*estilos page-1*/
main {
  justify-content: center;
  text-align: center; }
  main .healthy {
    background-color: #977174;
    margin: 1rem;
    padding-top: 0.4rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    height: 3rem;
    box-shadow: 2px 2px 5px black; }
  main .contenido-contenedor {
    display: grid;
    margin: 2rem;
    font-size: 1.1rem; }
  main .imgs-healthy {
    box-shadow: 5px 5px 5px black;
    border-radius: 2.5rem;
    margin: 1rem; }
  main .healthy-contenedor {
    width: 75rem;
    height: 55rem;
    display: flex;
    justify-items: center;
    padding: 1rem; }
  main .prebioticos-contenedor {
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center; }
    main .prebioticos-contenedor .imgs-prebioticos {
      border-radius: 3rem; }
    main .prebioticos-contenedor .imgs-prebioticos:hover {
      box-shadow: 2px 2px 3px #444242;
      animation-name: img-movimiento;
      animation-iteration-count: infinite;
      animation-duration: 1.5s;
      animation-direction: alternate-reverse; }

@keyframes img-movimiento {
  to {
    transform: scale(0.95); }
  from {
    transform: scale(1.1); } }

/*estilos page-2*/
main .subtitulos main .recets {
  font-weight: bold; }

main .contenidorecetas-contenedor {
  margin: 1.5rem;
  padding-top: 1.5rem;
  justify-items: center; }
  main .contenidorecetas-contenedor ul li {
    list-style: none; }

main section .carousel-contenedor {
  height: 25rem;
  display: grid;
  justify-content: center;
  margin: 2.5rem; }

/*estilos page-3*/
main .workshops {
  margin: 1rem;
  background-color: #977174;
  height: 25rem;
  display: flex;
  box-shadow: 2px 2px 5px black; }
  main .workshops .parrafos-works {
    margin: 1rem;
    padding: 2rem;
    color: whitesmoke;
    display: grid;
    font-size: 1.3rem; }
    main .workshops .parrafos-works .shadows {
      text-shadow: 2px 2px 2px black; }
    main .workshops .parrafos-works .imgs-works:hover {
      transform: scale(0.95); }

/*estilos page-4*/
main .contacto-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem; }
  main .contacto-contenedor .formulario {
    background-color: #e5c1c4;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px black;
    height: 2.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
    border-color: black; }
  main .contacto-contenedor .text-area {
    border-radius: 2rem;
    padding: 1rem;
    background-color: #e5c1c4;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 1rem; }
  main .contacto-contenedor .input-enviar {
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: #e5c1c4;
    width: 5rem;
    height: 3rem;
    box-shadow: 2px 2px 5px black;
    font-weight: bold; }

@media screen and (max-width: 450px) {
  main h1 {
    font-size: 1.8rem;
    height: 3rem;
    padding-top: 0.4rem; }
  main .subtitulo-index {
    height: 2rem;
    font-size: 1.3rem;
    padding-top: 0.4rem; }
  main .img-y-p-index {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center; }
    main .img-y-p-index .p-index {
      height: 40%;
      padding-top: 2rem;
      font-size: 1.1rem;
      text-align: center;
      width: 18rem;
      margin: 1rem; }
    main .img-y-p-index .img-index {
      width: 60%;
      margin-top: 1.2rem;
      height: 60%; }
  main .subtitulo-index {
    margin-top: 0.5rem; }
  main .sobremi-contenedor {
    margin: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column; }
    main .sobremi-contenedor .sobremi-parrafo {
      font-size: 0.8rem; }
    main .sobremi-contenedor .img-juli {
      height: 90%; }
  main .healthy {
    font-size: 1.5rem;
    padding-top: 0.5rem; }
  main .imgs-healthy {
    width: 75%; }
  main .prebioticos-contenedor {
    display: flex;
    flex-wrap: wrap; }
    main .prebioticos-contenedor .imgs-prebioticos {
      width: 40%;
      height: 20%;
      margin-left: 1.2rem; }
  main .contenidorecetas-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .contenidorecetas-contenedor .img-crackers {
      width: 85%; }
    main .contenidorecetas-contenedor .img-granola {
      width: 85%;
      margin-right: 2rem; }
    main .contenidorecetas-contenedor .img-lentejas {
      width: 85%; }
    main .contenidorecetas-contenedor .img-pestokale {
      width: 85%; }
    main .contenidorecetas-contenedor .crackers {
      width: 85%; }
    main .contenidorecetas-contenedor .granola {
      width: 85%; }
    main .contenidorecetas-contenedor .lentejas {
      width: 85%; }
    main .contenidorecetas-contenedor .pestokale {
      width: 85%; }
  main .newsyredes-contenedor {
    display: none; }
  main .workshops {
    display: flex;
    flex-direction: column;
    height: 50%; }
    main .workshops .imgs-works {
      display: none; }
  main .contacto-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem; }
    main .contacto-contenedor .text-area {
      width: 90%; }
  footer {
    display: none; } }

@media screen and (min-width: 800px) {
  main h3 {
    font-size: 1.5rem; }
  main .sobremi-contenedor .sobremi-parrafo {
    font-size: 0.9rem; }
  main .prebioticos-contenedor {
    height: 60%; }
    main .prebioticos-contenedor .imgs-prebioticos {
      width: 70%;
      margin: 1rem; }
  main .contenidorecetas-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .contenidorecetas-contenedor .img-crackers {
      width: 85%; }
    main .contenidorecetas-contenedor .img-granola {
      width: 85%;
      margin-right: 2rem; }
    main .contenidorecetas-contenedor .img-lentejas {
      width: 85%; }
    main .contenidorecetas-contenedor .img-pestokale {
      width: 85%; }
    main .contenidorecetas-contenedor .crackers {
      width: 85%; }
    main .contenidorecetas-contenedor .granola {
      width: 85%; }
    main .contenidorecetas-contenedor .lentejas {
      width: 85%; }
    main .contenidorecetas-contenedor .pestokale {
      width: 85%; }
  main .workshops .parrafos-works {
    font-size: 1rem; }
    main .workshops .parrafos-works .shadows {
      font-size: 1.4rem; } }

@media screen and (min-width: 1200px) {
  main h3 {
    font-size: 2rem; }
  main .img-index:hover {
    animation-name: img-movimiento;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate-reverse; }
  @keyframes img-movimiento {
    to {
      transform: scale(1); }
    from {
      transform: scale(1.04); } }
  main .sobremi-contenedor .sobremi-parrafo {
    font-size: 1.2rem; }
  main .newsletter-index:hover {
    transform: scale(0.95); }
  main .contenidorecetas-contenedor {
    margin: 1rem;
    padding-top: 0.5rem;
    text-align: justify;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr 3fr 3fr;
    grid-template-areas: "crackers img-crackers" "granola img-granola" "lentejas img-lentejas" "pestokale img-pestokale"; }
  main .crackers {
    grid-area: crackers;
    width: 40rem; }
  main .granola {
    grid-area: granola;
    width: 40rem; }
  main .lentejas {
    grid-area: lentejas;
    width: 40rem; }
  main .pestokale {
    grid-area: pestokale;
    width: 40rem; }
  main .img-crackers {
    margin-top: 1rem;
    filter: drop-shadow(5px 5px 5px); }
  main .img-granola {
    margin-top: 1rem;
    margin-left: 2rem;
    filter: drop-shadow(5px 5px 5px); }
  main .img-lentejas {
    margin-top: 1rem;
    filter: drop-shadow(5px 5px 5px); }
  main .img-pestokale {
    margin-top: 1rem;
    filter: drop-shadow(5px 5px 5px); }
  main .recetas:hover {
    transform: scale(0.95); }
  main .workshops {
    box-shadow: 2px 2px 5px black; }
    main .workshops .parrafos-works {
      font-size: 1.3rem; }
      main .workshops .parrafos-works .shadows {
        font-size: 1.8rem; }
  main .imgs-works:hover {
    transform: scale(0.95); } }
