@import "variables.scss";
@import "mixin.scss";
@import "extend.scss";

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*estilos en común del proyecto*/
header{
   background-color: $color-dos;
    .navbar-brand{
      font-family: "Shadows Into Light", "cursive";
      font-size: 1.3rem;
      font-weight: bold;
      background-color: $color-dos; }
      .nav-link{
        font-weight: bold;
        background-color: $color-dos;
        } 
      .nav-link:hover{
        transform: scale(1.05);
      }       
}
main{ 
  h1{
  height: 4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: $color-cuatro;
  text-shadow: 5px 5px 5px $color-cinco;}
  h3{
    font-size: 2.2rem;
    text-align: center;
    font-weight: bolder;
    padding-top: 0.3rem;
    font-family:"Shadows Into Light", "cursive";
  }
  .newsyredes-contenedor {
    background-color:$color-cuatro;
    height: 21rem;
    display: flex;
    justify-content:space-around;
    margin-top: 3rem;
    padding: 0.5rem;
    .newsletter-contenedor {
      background-color: $color-uno;
      filter: drop-shadow(5px 5px 5px $color-seis);
      @include medidas (46rem , 15rem);
      margin-bottom: 0.5rem;
      margin-top: 2.2rem;
      padding: 1rem;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-color: $color-seis;
      }
      .newsletter-contenedor:hover {
        transform: scale(0.95);
      }
      .redsocial-contenedor {
        @include medidas (15rem , 15rem);
        margin: 1.5rem 1rem 1.5rem 1rem;
        padding: 1.5rem;
      }
      .logos{
        margin: 0.4rem;
      }
      .logos:hover {
        transform: scale(0.9);
      }
  }
 }
footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  box-sizing: border-box;
  background-color: $color-dos;
  font-weight: bold;
}
/*estilos del index*/
main{
.img-y-p-index{
  height:30rem ;
  margin: 1rem 3rem 2rem 3rem;
  display: flex;
  justify-content: center;
  .img-index {
    margin: 1rem;
    filter: drop-shadow(5px 5px 5px); 
  }
  .p-index {
    width: 19rem;
    height: $medida-principal;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 1.4rem;
    text-align: center;
    font-family: "Shadows Into Light", "cursive";
    font-weight: bold;
    font-size: 1.8rem;
  }
}
.subtitulo-index{
  font-family: "Shadows Into Light", "cursive";
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  background-color:$color-dos;
}
.sobremi-contenedor{
margin: 1rem;
background-color:$color-tres;
height: $medida-principal;
display: flex;
.sobremi-parrafo{
  margin: 0.6rem;
  color: $color-cinco;
  padding-top:  1.5rem;
  display: grid;
  font-size: 1.3rem; 
}
.juli{
  font-family:"Shadows Into Light", "cursive";
  font-size: 1.8rem;
}
.juli::after{
  content:" ♡"
}
.juli::before{
  content:"♡ "
}
}
}
/*estilos page-1*/
main{
  justify-content: center;
  text-align: center;
  .healthy{
    background-color: $color-tres;
    margin: 1rem;
    padding-top: 0.4rem;
    color: $color-cinco;
    text-shadow: 2px 2px 2px $color-seis;
    height: 3rem;
    box-shadow: 2px 2px 5px $color-seis;
  }
  .contenido-contenedor {
    display: grid;
    @extend %estilospages;
    margin: 2rem;
    font-size: 1.1rem;}
 .imgs-healthy{
  box-shadow: 5px 5px 5px $color-seis;
  border-radius: 2.5rem;
  margin: 1rem;
  }
  .healthy-contenedor{
  @include medidas (75rem , 55rem);
  display: flex;
  @extend %estilospages;
  justify-items: center;
  padding: 1rem;
  }
  .prebioticos-contenedor {
  height: 150vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  .imgs-prebioticos{
    border-radius: 3rem;
  }
  .imgs-prebioticos:hover{
    box-shadow: 2px 2px 3px rgb(68, 66, 66);
    animation-name: img-movimiento;
          animation-iteration-count:infinite;
          animation-duration: 1.5s;
          animation-direction:alternate-reverse;
      }
  @keyframes img-movimiento {
        to{
            transform: scale(0.95);
        }
        from{
            transform: scale(1.1);
        }
    }
}
}
/*estilos page-2*/
main{
  .subtitulos main
   .recets{
    font-weight: bold;
  }
.contenidorecetas-contenedor{
  margin: 1.5rem;
  padding-top: 1.5rem;
  @extend %estilospages;
  justify-items: center;
  ul li {
    list-style: none;
  }
}
section{
  .carousel-contenedor {
    height: $medida-principal;
    display: grid;
    justify-content: center;
    margin: 2.5rem;
  }
}
}
/*estilos page-3*/
main{
.workshops{
  margin: 1rem;
  background-color:$color-tres;
  height: $medida-principal;
  display: flex;
  box-shadow: 2px 2px 5px $color-seis;
  .parrafos-works{
    margin: 1rem;
    padding: 2rem;
    color: $color-cinco;
    display: grid;
    font-size: 1.3rem;
    .shadows{
      text-shadow: 2px 2px 2px $color-seis;
    }
    .imgs-works:hover{
      transform: scale(0.95);
           }
  }
  }
}  
/*estilos page-4*/
main{
.contacto-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  .formulario{
    background-color:$color-cuatro;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px $color-seis;
    height: 2.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
    border-color: $color-seis;
  }
  .text-area{
    border-radius:2rem ;
    padding: 1rem;
    background-color:$color-cuatro;
    box-shadow: 2px 2px 5px $color-seis;
    margin-bottom: 1rem;
  } 
  .input-enviar{
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: $color-cuatro;
    @include medidas (5rem, 3rem);
    box-shadow: 2px 2px 5px $color-seis;
    font-weight: bold;
  }  
}
}
@media screen and(max-width:450px){
main{
  h1{
    font-size: 1.8rem;
    height: 3rem;
    padding-top: 0.4rem;
  }
  .subtitulo-index{
    height: 2rem;
    font-size: 1.3rem;
    padding-top: 0.4rem;
  }
  .img-y-p-index{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    .p-index{
    height: 40%;
    padding-top: 2rem;
    font-size:  1.1rem;
    text-align: center;
    width: 18rem;
    margin: 1rem;}
    .img-index{
    width: 60%;
    margin-top: 1.2rem;
    height: 60%;}
  }
  .subtitulo-index{
    margin-top: 0.5rem;
  }
.sobremi-contenedor{
   margin: 1.5rem;
   width: 90%;
  display: flex;
  flex-direction: column;
  .sobremi-parrafo{
    font-size: 0.8rem;
  }
  .img-juli{
    height: 90%;
  }
}
.healthy{
  font-size: 1.5rem;
  padding-top: 0.5rem;
}
.imgs-healthy{
    width: 75%;
  }
  .prebioticos-contenedor{
    display: flex;
    flex-wrap: wrap;
    .imgs-prebioticos{
      width: 40%;
      height: 20%;
      margin: 1.2rem;
    }
  }
.contenidorecetas-contenedor{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
.img-crackers{
  width: 85%;
}
.img-granola{
  width: 85%;
  margin-right: 2rem;
}
.img-lentejas{
  width: 85%;
}
.img-pestokale{
  width: 85%;
}
.crackers{
  width: 85%;
}
.granola{
  width: 85%;
}
.lentejas{
  width: 85%;
}
.pestokale{
  width: 85%;
}
}
.newsyredes-contenedor{
  display: none;
}
.workshops{
  display: flex;
  flex-direction: column;
  height: 50%;
  .imgs-works{
    display: none;
  }
}
.contacto-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  .text-area{
    width: 90%;
}
}
}
footer{
  display: none;
}}

@media screen and(min-width: 800px){
  main{
    h3{
      font-size: 1.5rem;
    }
    .sobremi-contenedor{
      .sobremi-parrafo{
        font-size: 0.9rem;
      }
    }
    .prebioticos-contenedor{
      height: 60%;
      .imgs-prebioticos{
        width: 70%;
        margin: 1rem;
      }
    }
    .contenidorecetas-contenedor{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img-crackers{
        width: 85%;
      }
      .img-granola{
        width: 85%;
        margin-right: 2rem;
      }
      .img-lentejas{
        width: 85%;
      }
      .img-pestokale{
        width: 85%;
      }
      .crackers{
        width: 85%;
      }
      .granola{
        width: 85%;
      }
      .lentejas{
        width: 85%;
      }
      .pestokale{
        width: 85%;
      }
      }
      .workshops{
        .parrafos-works{
          font-size: 1rem;
          .shadows{
            font-size: 1.4rem;
          }
        }
      }
   }
}
@media screen and(min-width: 1200px) {
  main{
    h3{
      font-size: 2rem;
    }
    .img-index:hover{
      animation-name: img-movimiento;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            animation-direction:alternate-reverse;
        }
        @keyframes img-movimiento {
            to{
                transform: scale(1);
            }
            from{
                transform: scale(1.04);
            }
        }
        .sobremi-contenedor{
          .sobremi-parrafo{
            font-size: 1.2rem;
          }
        }
        .newsletter-index:hover {
          transform: scale(0.95);
        }
    .contenidorecetas-contenedor{
      margin: 1rem;
      padding-top: 0.5rem;
      text-align:justify;
      font-size: 0.9rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 3fr 3fr 3fr 3fr;
      grid-template-areas: 
      "crackers img-crackers"
      "granola img-granola"
      "lentejas img-lentejas"
      "pestokale img-pestokale"
      ;
    }
    .crackers{
      grid-area: crackers ;
      width: 40rem;
    }
    .granola{
      grid-area: granola;
      width: 40rem;
    }
    .lentejas{
      grid-area: lentejas;
      width: 40rem;
    }
    .pestokale{
      grid-area: pestokale;
      width: 40rem;
    }
    .img-crackers{
      margin-top: 1rem;
      filter: drop-shadow(5px 5px 5px);
      }
      .img-granola{
        margin-top: 1rem;
        margin-left: 2rem;
        filter: drop-shadow(5px 5px 5px);
      }
      .img-lentejas{
        margin-top: 1rem;
        filter: drop-shadow(5px 5px 5px);
      }
      .img-pestokale{
        margin-top: 1rem;
        filter: drop-shadow(5px 5px 5px);
      }
      .recetas:hover{
        transform: scale(0.95);
      }
      .workshops{
        box-shadow: 2px 2px 5px black;
        .parrafos-works{
          font-size: 1.3rem;
          .shadows{
            font-size: 1.8rem;
          }
        }
      }
    .imgs-works:hover{
      transform: scale(0.95);
    }
  }
  }
    
    













